.DS_Store
Thumbs.db
node_modules/
.vscode/
*.log
*.tmp
__pycache__/
*.pyc
*.pyo
/.idea/
/.history/
.env
.next/
/backups/
/public/uploads/*
!/public/uploads/.gitkeep

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
